<html>
  <body>

    <div class="errors">
      <% if (validationErrors) { %>
        <ul>
          <%for (var i=0; i<validationErrors.length; i++) { %>
            <li><%=validationErrors[i].param%> - <%=validationErrors[i].msg%></li>
          <%}%>
        </ul>
      <%}%>
    </div>

    <form action="/products" method="post">
      <div>
        <label>Título</label>
        <input type="text" name="title" placeholder="Coloque o título" />
      </div>
      <div>
        <label>Preço</label>
        <input type="text" name="price" placeholder="150.25" />
      </div>
      <div>
        <label>Descrição</label>
        <textarea name="description" placeholder="Fale sobre o livro" cols="10" rows="10"></textarea>
      </div>
      <input type="submit" value="Gravar" />
    </form>
  </body>
</html>
