<html>
  <body>
      <table>
        <tr>
          <td>Id</td>
          <td>Title</td>
          <td>Description</td>
          <td>Price</td>
        </tr>
        <%for(var i=0; i<products.length;i++) {%>
          <tr>
            <td><%= products[i].id %></td>
            <td><%= products[i].title %></td>
            <td><%= products[i].description %></td>
            <td><%= products[i].price %></td>
          </tr>
        <%}%>
      </table>
  </body>
</html>
